<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Sencha Touch CSS -->
<link rel="stylesheet" href="/public/sencha/resources/css/sencha-touch.css" type="text/css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/public/css/sencha.css" type="text/css">

<head>
    <title>MyDailyRhodes</title>
</head>

<body>
    <%= @content %>
</body>

</html>