<div id="pageTitle">
  <h1>About</h1>
</div>

<div class="toolbar"> </div>

<div class="content">
CSC Mobile Solution<br><br>

Version: Service Release 1<br>
Build id: 20100917-0705<br><br>

(c) Copyright CSC contributors and others 2011. All rights reserved.<br>
Visit http://www.csc.com
</div>